{% extends "layout.html" %}
{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Interview Simulator</h1>
    <!-- add an image from the local system-->
    <style>
      .full-width-img {
        width: 80%;
        height: auto;
      }
    </style>
    <img src="static/build/ai.jpeg" alt="Interview Simulator" class="full-width-img">
    <p>Prepare for your dream job with our interactive interview simulator harnessing the power of generative AI.
      <br>Practice answering questions tailored to a
      job description and your resume. <br> Get instant feedback from our AI coach.<br>Sign up today to get started!
    </p>
    <p><a href="/register" class="btn btn-primary btn-large">Create an account &raquo;</a></p>
  </div>
</div><!-- /.jumbotron -->
</div><!-- /.row -->
</div>
{% endblock %}